body {
    background-color: lightgray;
    background-repeat: no-repeat;
    
    }
 .name {
    background:indigo;
    color: white;
    padding: 20px;
    padding-bottom: 0px;
    height: 70px;
            
    }
.img {
     margin-top: 20px;
    }
    
    
 